{{ define "main" }}
<!--<img src="/images/firewatch.png" alt="Description of Img" class="mt-10 w-full">-->
<main class="mt-10 main-padding h-full">
    <h1>Le site est actuellement en cours de construction.</h1>
    <!--{{/*
    <h1 class="delius">
        Le site est actuellement en cours de construction, revenez plus tard :)
    </h1>
    */}} {{/* {{ .Content }} {{ range site.RegularPages }}
    <h2>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>
    {{ .Summary }} {{ end }} */}}-->
</main>
{{ end }}
